@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');

* {
    margin: 0px;
    padding: 0px;
    transition: all 0.35s linear;
    box-sizing: border-box;
    user-select: none;
}

body {
    display: grid;
    place-items: center;
    background-color: rgb(30, 30, 30);
    margin: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* DIV CONTENIDO */
.content-radio {
    display: grid;
    place-items: center;
    width: 1500px;
    height: 750px;
    background-color: #FFFFFF;
    margin: 50px;
    min-width: 350px;
    border-radius: 16px
}

.title {
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    color: #2B2B2D;
    font-family: 'Nunito', sans-serif;
}

.radio-info {
    display: flex;
    box-shadow: 5px 5px 20px 5px;
    background-color: rgb(30, 30, 30);
    border-radius: 16px;
    width: 900px;
    height: 300px;
    margin-bottom: 100px;
    padding: 15px;
}

.radio-info img {
    width: 200px;
    height: 150px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 30px;
}

.nowPlaying {
    display: flex;
    align-items: center;
    width: 900px;
    height: 90px;
    background-color: rgb(30, 30, 30);
    border-radius: 16px;
    font-family: 'Hind Vadodara', sans-serif;
    color: #FFFFFF;
    font-size: 20px;
    padding: 30px;
}

.nowPlayinginfo span {
    padding-left: 10px;
}

.radio-info p{
    font-family: 'Hind Vadodara', sans-serif;
    color: #FFFFFF;
    overflow:hidden;
    columns: 300px auto;
    text-align: justify;
    padding-right: 5px;
}

.nextPlaying{
    margin-left: 600px;
}

@media (max-width: 960px) {
    .radio-info {
        max-width: 300px;
    }

    .radio-info img {
        margin: 0 auto;
        width: 110px;
        height: 100px;
        padding-right: 5px;
    }

    .nowPlaying {
        max-width: 300px;
        font-size: 13px;
        text-align: justify;
    }
    .radio-info p {
        columns: 150px auto;
        overflow: auto;
        text-align: justify;
    }

    .radio-info p::-webkit-scrollbar{
        width: 15px;
    }

    .radio-info p::-webkit-scrollbar-thumb{
        background-color: black;
        border-radius: 16px;

    }

    
}
